.customShapeDividerBottom1726116370 {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.customShapeDividerBottom1726116370 svg {
  position: relative;
  display: block;
  width: calc(106% + 1.3px);
  height: 90px;
}

.customShapeDividerBottom1726116370 .shapeFill {
  fill: #ffffff;
}
