#bar {
  position: relative;
  cursor: pointer;
}

#circle {
  transition: all 0.3s linear;
}

#text {
  color: white;
  font-weight: 700;
  position: absolute;
  opacity: 0;
  top: 30%;
  left: 12%;
  z-index: 10;
  transition: all 0.3s linear;
}

#bar:hover {
  background-color: hotpink;
}
#bar:hover #text {
  opacity: 1;
}

#bar:hover #circle {
  transform: translate(70%, 0);
}

#bar {
  overflow: hidden;
}
